<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>
    <iisnode
      nodeProcessCommandLine="node"
      interceptor="iisnode\interceptor.js"
    />
  </system.webServer>
</configuration>